@import "~bootstrap/scss/bootstrap";

html {
  height: 100%;

  --header-height: 41px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  min-height: var(--header-height);
  max-height: var(--header-height);
}

.add-btn {
  border: 0;
  font-size: 1.5rem;
  padding: 0;
  width: 40px;
}

.error-message {
  font-size: 1rem;
  min-height: 1.5rem;
}

.channel-text {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.channels-list {
  max-height: calc(100vh - var(--header-height) - 36px - 8px - 12px);
  overflow-y: auto;
}
